<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | MyApp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {{if .message}}
    <script>
        alert("{{.message}}");
    </script>
    {{end}}
    <div class="container">
        <div class="card" style="width: 30%;">
            <h1 class="title">Password Reset</h1>

            {{if .account}}
            <form action="/forgotpassword" method="POST" class="auth-form">
                <p class="subtitle">Verify your account</p>
                <div class="form-group">
                    <label for="name">Email Address</label>
                    <input type="email" name="email" required placeholder="Enter your email" autofocus>
                </div>
                <button type="submit" class="btn-sigin">Verify</button>
            </form>
            {{else}}
            <form action="/forgotpassword" method="POST" class="auth-form">
                <p class="subtitle">Change your password</p>
                <div class="form-group">
                    <label for="name">New Password</label>
                    <input type="password" name="newpassword" required placeholder="Enter your new password" autofocus minlength="6">
                </div>
                <div class="form-group">
                    <label for="name">Confirm Password</label>
                    <input type="password" name="confirmpassword" required placeholder="Confirm your new password" minlength="6"
                        autofocus>
                </div>
                {{if .error}}
                <div class="error-message">
                    {{.error}}
                </div>
                {{end}}

                <button type="submit" class="btn-sigin">Change Password</button>
            </form>

            {{end}}

        </div>
    </div>
</body>

</html>